<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 생성 페이지</title>
</head>
<body>
    <h1>게시글 생성 페이지</h1>
    <form method="POST" action="{% url 'articles:create' %}">
        {% csrf_token %}
        <div>
            <label for="title">제목:</label><br>
            <input type="text" id="title" name="title" required>
        </div>
        <br>
        <div>
            <label for="content">내용:</label><br>
            <textarea id="content" name="content" rows="10" cols="50" required></textarea>
        </div>
        <br>
        <button type="submit">[CREATE]</button>
        <a href="{% url 'articles:index' %}">[BACK]</a>
    </form>
</body>
</html>
